# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files (Windows)
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs / temp
# =========================
*.log